

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.container01 {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    /* border: 10px solid red; */
    /* background-color: rgb(248, 248, 248); */
    background: linear-gradient(135deg, #ffffff, #8baedd);
}

.nav {
    background-color:rgb(246 248 251);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    
}

.Coders {
    font-size: 2rem;
    font-weight: bold;
    color: #194558;
}

.navlist ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.navlist ul li{
    margin: 0 20px;
}
.navlist ul li a {
    text-decoration: none;
    color:#194558;
    font-weight: bold;
}

.navlist ul li a:hover {
    color: #65747a;
}


.text-img-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
    color: black;
}

.text-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #194558;
}

.text-section p {
    font-size: 1rem;
    max-width: 600px;
    margin-bottom: 20px;
    color: #194558;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-blue {
    background-color: #194558;
}

.btn-blue:hover {
    background-color: #427991;
}

.btn-purple {
    background-color: #4a20d9;
}

.btn-purple:hover {
    background-color: rgb(132, 104, 234);
}

.img-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img-section img {
    max-height: 60vh;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}


.container02{
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 20px;
}

.box {
    flex: 1 1 300px;
    max-width: 400px;
    box-sizing: border-box; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 14px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.box img {
    width: 250px;
    height: 200px;
    margin-bottom: 15px;
}

.box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #194558;
}

.box p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.box-btn {
    margin-top: 10px;
    padding: 10px 20px; 
    font-size: 13px;
    color: white;
    background-color: #4a20d9;
    border: none; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }

